<!doctype html>
<html ng-app="joggingtimes">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/js/underscore.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-resource.min.js"></script>
    <script src="/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/timepicker-tpls.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/app.css" media="screen">
  </head>
  <body>
    <header ng-controller="NavbarCtrl" class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Jogging Times</a>
        </div>
        <nav collapse="navCollapsed" class="navbar-collapse collapse" role="navigation">
          <div>
            <ul ng-show="hasValidSession" class="nav navbar-nav">
              <li ui-sref-active="active"><a ui-sref="times_detail({id:'new'})" ng-click="navCollapsed = true">Create <span class="glyphicon glyphicon-pencil"></span></a></li>
              <li ui-sref-active="active"><a ui-sref="weeks" ng-click="navCollapsed = true">Dashboard</a></li>
              <li ui-sref-active="active"><a ui-sref="times" ng-click="navCollapsed = true">Times</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-hide="hasValidSession" ui-sref-active="active"><a ui-sref="login" ng-click="navCollapsed = true">Log in</a></li>
              <li ng-show="hasValidSession"><a ui-sref="logout" ng-click="navCollapsed = true">{{username}} (logout)</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <div ui-view></div>
    </div>
  </body>
</html>