body {
	padding-top: 50px;
}

.table-vcenter>tbody>tr>td {
   vertical-align: middle!important;
}

.times-date {
	background-color: #FFF3AC;
	margin-bottom: 20px;
	padding: 12px;
	border-radius: 20px;
	box-shadow: 7px 7px 5px 0px rgba(206, 16, 33, 0.15);
}

.times-week {
	background-color: #44CCAA;
}

.times-date-header {
	font-style: italic;
}

.form-control {
	padding: 10px 16px;
}
