<h2>Entries</h2>
<table>
  <thead>
    <td>Title</td>
    <td>Body</td>
  </thead>
  <tbody>
    <tr ng-repeat="entry in entries">
      <td>{{entry.title}}</td>
      <td>{{entry.body}}</td>
    </tr>
  </tbody>
</table>