<h2>Users</h2>
<table>
  <thead>
    <td>Username</td>
    <td>Email</td>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>