<div class="col-sm-offset-2 col-sm-8">
  <h2>{{username}}'s jogging dashboard</h2>
  <div ng-show="weeks.length == 0" class="jumbotron">
    <h2>Get out and make some exercise!</h2>
    <p>You don't have any time entry yet. Once you start using the app, entries will display here.</p>
    <a ui-sref="times_new" class="btn btn-primary">Create</a>
  </div>
  <div ng-hide="weeks.length == 0">
    <ul class="list-inline" ng-show="weeks.length > 0">
      <li ng-repeat="week in weeks">
        <a ui-sref-active="active" ui-sref=".detail({ week: week })" class="btn btn-primary">{{week}}</a>
      </li>
    </ul>
    <div ui-view></div>
  </div>
</div>