<div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
  <h2>Login</h2>
  <div>
    <div ng-show="invalidCredentials">
      <h4>Error: Invalid user or password</h4>
      <a class="btn btn-primary" ui-href="login" ng-click="reload()">Retry</a>
    </div>
    <div ng-hide="invalidCredentials">
      <form class="form-horizontal" ng-submit="submit()">
        <div class="form-group">
          <input class="form-control" ng-model="user.username" type="text" name="user" placeholder="Username" />
          <input class="form-control" ng-model="user.password" type="password" name="pass" placeholder="Password" />
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Login" />
          <button class="btn btn-default" ng-click="register()">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>