<div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
  <h2>Register</h2>
  <div>
    <div>
      <form class="form-horizontal" ng-submit="submit()">
        <div class="form-group" ng-class="{'has-error': user.$error.username}">
          <input class="form-control"
                 ng-model="user.username"
                 type="text" name="user"
                 placeholder="Username"
                 tooltip="{{user.$error.username[0]}}" />
        </div>
        <div class="form-group" ng-class="{'has-error': user.$error.password}">
          <input class="form-control"
                 ng-model="user.password"
                 type="password"
                 name="pass"
                 placeholder="Password"
                 tooltip="{{user.$error.password[0]}}" />
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Register" />
        </div>
      </form>
    </div>
  </div>
</div>