<form role="form">
  <div class="modal-header">
    <p ng-hide="editing">Create an entry</p>
    <p ng-show="editing">Edit an entry</p>
  </div>
  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error': timeEntry.$error.date}">
      <label for="dateInput">Date</label>
      <p class="input-group">
        <input id="dateInput"
               type="text"
               class="form-control"
               ng-model="timeEntry.date"
               is-open="$parent.dateOpened"
               readonly
               close-text="Close"
               datepicker-popup="yyyy-MM-dd" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="dateOpen($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>
    <div class="form-group" ng-class="{'has-error': timeEntry.$error.duration}">
      <label for="durationInput">Duration</label>
      <p class="input-group">
        <input id="durationInput"
               class="form-control"
               sy-timepicker-popup="HH:mm:ss"
               ng-model="timeEntry.duration"
               is-open="$parent.durationOpened"
               readonly
               hour-step="1"
               minute-step="1"
               show-meridian="no" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="durationOpen($event)">
            <i class="glyphicon glyphicon-time"></i>
          </button>
        </span>
      </p>
    </div>
    <div class="form-group" ng-class="{'has-error': timeEntry.$error.distance}">
      <label for="distanceInput">Distance</label>
      <p class="input-group">
        <input id="distanceInput"
               type="number"
               step="0.1"
               class="form-control"
               ng-model="timeEntry.distance" />
        <span class="input-group-addon">km</span>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-hide="editing" class="btn btn-primary" ng-click="create()">Create</button>
    <button ng-show="editing" class="btn btn-primary" ng-click="update()">Update</button>
    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
  </div>
</form>