<div class="col-md-offset-2 col-md-8">
  <h2>{{username}}'s jogging history</h2>
  <div ng-show="times.length == 0" class="jumbotron">
    <div ng-show="dateFrom || dateTo">
      <h2>No entries for this period</h2>
      <p>Create a new entry or clear your date filters.</p>
      <a ui-sref="times_detail({id:'new'})" class="btn btn-primary">Create</a>
      <a ui-sref="times({from:null, to:null})" class="btn btn-default">Clear</a>
    </div>
    <div ng-show="!dateFrom && !dateTo">
      <h2>Get out and make some exercise!</h2>
      <p>You don't have any time entry yet. Once you start using the app, entries will display here.</p>
      <a ui-sref="times_detail({id:'new'})" class="btn btn-primary">Create</a>
    </div>
  </div>
  <div ng-hide="times.length == 0">
    <div class="col-sm-6">
      <label for="dateFromInput">From</label>
      <p class="input-group">
        <input id="dateFromInput"
               type="text"
               class="form-control"
               ng-model="dateFrom"
               ng-change="dateFromChanged(dateFrom)"
               max-date="dateTo"
               is-open="dateFromOpened"
               close-text="Close"
               datepicker-popup="yyyy-MM-dd"
               disabled="disabled" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="dateFromOpen($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>
    <div class="col-sm-6">
      <label for="dateToInput">To</label>
      <p class="input-group">
        <input id="dateToInput"
               type="text"
               class="form-control"
               ng-model="dateTo"
               ng-change="dateToChanged(dateTo)"
               min-date="dateFrom"
               is-open="dateToOpened"
               close-text="Close"
               datepicker-popup="yyyy-MM-dd"
               disabled="disabled" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="dateToOpen($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-vcenter">
        <thead>
          <th>Date</th>
          <th>Distance</th>
          <th>Duration</th>
          <th>Average speed</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat="time in times">
            <td>{{time.date}}</td>
            <td>{{time.distance | number : 2}} km</td>
            <td>{{time.duration}}</td>
            <td>{{time.average_speed | number : 2}} km / h</td>
            <td>
              <a ui-sref="times_detail({id:time.id})"><button class="btn btn-primary">Edit</button></a>
              <button class="btn btn-danger" ng-click="deleteTime(time, $index)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
