<div>
  <div ng-hide="hasEntries" class="jumbotron">
    <h2>Seems like you didn't run this week</h2>
    <p>Have you? Then click the button below and let us track your achievements!</p>
    <a ui-sref="times_detail({id:'new'})" class="btn btn-primary">Create</a>
  </div>
  <div ng-show="hasEntries">
    <div class="times-date times-week">
      <h4 class="times-date-header">Week stats</h4>
      <dl class="dl-horizontal">
        <dt>Distance</dt>
        <dd>{{week_distance | number : 2}} km</dd>
        <dt>Duration</dt>
        <dd>{{week_duration}}</dd>
        <dt>Average speed</dt>
        <dd>{{week_average_speed | number : 2}} km / h</dd>
      </dl>
    </div>
    <div class="times-date" ng-repeat="(date, grouped_times) in times">
      <h4 class="times-date-header">{{date}}</h4>
      <div ng-repeat="time in grouped_times">
        <dl class="dl-horizontal">
          <dt>Distance</dt>
          <dd>{{time.distance | number : 2}} km</dd>
          <dt>Duration</dt>
          <dd>{{time.duration}}</dd>
          <dt>Average speed</dt>
          <dd>{{time.average_speed | number : 2}} km / h</dd>
        </dl>
        <hr ng-hide="$last">
      </div>
    </div>
  </div>
</div>