<p id="username"></p>
<p id="last_login"></p>
<script>
    var json = "{{user_json|escapejs}}";
    user = JSON.parse(json);
    document.getElementById("username").innerHTML = user.username;
    document.getElementById("last_login").innerHTML = user.last_login;
</script>